<footer>
  <hr class="divider">
  <div>
    Made with
    <span class="heart">&hearts;</span>
    by <a href="mailto:erielmejias99@gmail.com">erielmejias99@gmail.com</a>
  </div>
  <div>
    I hope you like it!
  </div>

</footer>
