footer{
  text-align: center;
  margin-top: 200px;
  padding: 30px 30px 30px 30px;
  color: #999999;
}

.divider{
  color: #aaa;
  width: 70%;
  margin-bottom: 30px;
}

.heart{
  color:red;
  font-size: 20pt;
}

