#news-table{
  max-width: 1000px;
  margin: auto auto;
  padding-left: 20px;
  padding-right: 20px;
}

#news-table .article:hover{
  background-color: red;
}

.loading, .empty-article{
  height: 200px;
  padding-top: 200px;
  font-size: 3vmax;
  text-align: center;
}

.empty-article{
  color: #454545;
}
