<div *ngIf="loading; then loadingBlock else fillArticleList">
</div>

<ng-template #emptyArticle>
    <div class="empty-article">
        Sorry there is no Articles by the moment... :(
    </div>
</ng-template>

<ng-template #loadingBlock>
  <div class="loading">
    Loading...
  </div>
</ng-template>

<ng-template #fillArticleList>
  <div *ngIf="articles.length > 0; else emptyArticle">
    <div id="news-table">
      <app-article
        *ngFor="let art of articles"
        [article]="art"
        (delete)="deleteArticle( art )"
      ></app-article>
    </div>
  </div>
</ng-template>
