
header{
  background-color: #333;
  padding: 30px 30px 30px 30px;
}

.mytitle{
  margin: 0;
  font-size: 7vmax;
  color: white;
  font-family: Arial;
}

.subtitle{
  color: white;
  font-size: 3vmax;
}
