.article{
  width: 100%;
  cursor: pointer;
  display: grid;
  grid-template-columns: 70% 20% auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
  transition: all 0.5s;
  grid-column-gap: 20px;
}

@media only screen and (max-width: 800px) {
  .article{
    grid-template-columns: 55% 25% 20%;
  }
}

@media screen and (max-width: 650px) {
  .article {
    grid-template-columns: 40% 25% 25%;
  }
}

@media screen and (max-width: 500px) {
  .article {
    grid-template-columns: none;
    grid-template-rows: auto;
    grid-row-gap: 10px;
  }
  .article .action{
    text-align: right !important;
    margin-right: 20px;
  }
}

.article:hover{
  background: #fafafa !important;
  transition: all 0.5s;
}

.article .title{
  color: #333;
  font-size: 13pt;
}

.article .author{
  color: #999;
}

.article .action{
  text-align: center;
}
/*article div{*/
/*  display: inline-block;*/
/*}*/
